.teapot{
display: flex;
justify-content: space-between;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 70px;
border-bottom: 10px solid blue;

}
.imgs{
  width: 2em;
  display: flex;
}